<div class="home-page-container">
  <div class="button-container">
    <a class="c-button c-button--focal" href="<%= new_user_session_path  %>">Create An Account</a>
  </div>
  <div class="button-container">
    <a class="c-button c-button--focal" href="<%= books_path  %>">Find Your Book</a>
    </a>
  </div>
</div>
